DB_CONNECTION_STRING=YOUR_CONNECTION_STRING_HERE

VNPAY_TMNCODE=YOUR_TMN_CODE_HERE
VNPAY_HASHSECRET=YOUR_HASH_SECRET
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html

VNPAY_RETURN_URL=YOUR_RETURN_URL_HERE
VNPAY_IPN_URL=YOUR_IPN_URL_HERE

JWT_SECRET=YOUR_JWT_SECRET